<!--'views/sessions/new.html.erb' -->
<div class="page-header m-t-1">
	<h1><small>Account Login</small></h1>
</div>

<div class="row featurette">
    <div class="col-md-7">

        <div class="form1">	
		<%#= form_tag sessions_create_path, :method => :post do %>	
		<%= bootstrap_form_tag controller: :sessions, action: :create, id: "form", data: {toggle:  'validator'} , :method => :post do %>				
		<div class="form-horizontal">			  				
			<div class="form-group">					
				<%= label_tag :email, 'Email:',  :class =>"col-sm-2 control-label" %>	
				<div class="col-sm-6">						
					<%= text_field_tag :email, params[:email] , :autofocus => true, :class => "form-control", :id => "inputEmail", :data => {:error => "Email is not valid"}, :required => "", :type=>"email"  %>
					<p class="help-block with-errors"></p>
				</div>	
			</div>   

			<div class="form-group">					
				<%= label_tag :password, 'Password:',  :class =>"col-sm-2 control-label" %>	
				<div class="col-sm-6">			
					<%= password_field_tag :password, params[:password], :class => "form-control", :label => "Confirm Password" %>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">										
					<%= submit_tag "Login", :class=> "btn btn-primary " %>
				</div>				
			</div>		
		</div>
	<% end %> 
	</br>	
</div>			
</div>
</div>
