<div class="form1">


  <%= form_for(@user) do |f| %>
  
  <div class="row featurette">
  <div class="col-md-7">
    <div class="form-group">
      <%= f.label :name, 'Name:',  :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :name, :autofocus => true, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, 'Email:',  :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :email, :autofocus => true, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, 'Password:',  :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.password_field :password , size: 40, :class => "form-control" %>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirm:',  :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.password_field :password_confirmation, size: 40, :class => "form-control" %>
      </div>
    </div>
  
    <div class="actions">
    <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Update User", :class=> "btn btn-primary ", :class=> "btn btn-primary " %>
          </div>
    </div>
  </div>
  </div>
  <% end %>

</div>
