<%= render "/error_messages", 
			:message_header => "Cannot save: ", 
			:target => @user %> 

<div class="page-header m-t-1">
	<h1><small>New Account</small></h1>
</div>

<div class="row featurette">
  <div class="col-md-7">

  <%= form_for(@user, :html => {:class => 'form-horizontal', :id => 'form', :data => {:toggle => "validator"} } ) do |f| %>

    <div class="form-group">
      <%= f.label :name, 'Name:',  :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :name,  :autofocus => true, :class => "form-control", :required => "" %>
        <div class="help-block with-errors"></div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, 'Email:',  :class =>"col-sm-2 control-label"%>
      <div class="col-sm-6">
          <%= f.text_field :email, :type=>"email", :autofocus => true, :class => "form-control", :id => "inputEmail", :data => {:error => "Email is not valid"}, :required => ""  %>
          <p class="help-block with-errors"></p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, 'Password:',  :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.password_field :password, :type => "password", size: 40, :class => "form-control", :id => "inputPassword", :data => { :minlength => "6"}, :required => "" %>
        <p class="help-block">Minimum of 6 characters</p>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirm:',  :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.password_field :password_confirmation, :type => "password", size: 40, :class => "form-control", :id => "inputPasswordConfirm", :data => { :match => "#inputPassword", :'match-error' => "Whoops, these don't match"} %>
         <div class="help-block with-errors"></div>
      </div>
    </div>
  
    <div class="actions">
    <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Submit", :class=> "btn btn-primary ", :class=> "btn btn-primary " %>
          </div>
    </div>
  </div>
  </div>
  <% end %>
</div>
