
<div class="page-header m-t-1">
	<h1><small>About Us</small></h1>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">UK's Lowest Prices. <span class="text-muted">It'll blow your mind.</span></h2>
        <p> Pay monthly is based on new connections on selected networks on 4G tariffs. UK's Lowest Price correct at time of print and it applies to published prices, where the handset is in stock and available for immediate purchase and dispatch. Excludes all online retailers without high street presence and other promotional offers. UK's Lowest Price on pay as you go and SIM free correct at time of print and it applies to published prices, where the handset is in stock and available for immediate purchase and dispatch. </p>
        </div>
    <div class="col-md-5">
        <%= image_tag("/assets/phone.jpg", :alt => "phone", :class=>'featurette-image img-responsive center-block') %>
    </div>
</div>