<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Silver Phones</h1>
    <p>A marketplace for phones, tablets, and accessories.</p>
    <br/>	
    <%= link_to "All Products ->", products_path, :class => "btn btn-primary text-center" %>
  </div>
</div>

<div class="page-header m-t-1">
	<h1><small>Featured</small></h1>
</div>

<div class="row featurette">	
		<ul class="list-inline center-block text-center" style="margin-bottom: 100px;">
			
			<% @products.each do |product| %>
				<li>
					<% if not product.images.blank? %>
					        <div class="main-title"><%= link_to (image_tag product.images.first.url, :size => "250x300"), product %> </div>
					<% else %>
					        <%= link_to (image_tag("no-image.jpg", :size => "250x300")), product %>
					<% end %>
	
					<div class="main-title" style="text-align: left;"> <%= link_to (product.name), product %> </div>
					<div class="main-title" style="text-align: left;"> <%= product.price %> </div>
					<%= link_to "Shop Now", product, :class => "btn btn-primary" %>
				</li>
			
			<% end %>
		</ul>
</div>
