<div class="page-header m-t-1">
	<h1><small>Contact Us</small></h1>
</div>

<div class="row featurette">
    <div class="col-md-7">

		  <%= simple_form_for @contact, :html => {:class => 'form-horizontal', :id => 'form', :data => {:toggle => "validator"}  } do |f| %>
		  	<% if logged_in? %>
		  	
		  	  <div class="form-group">
				  	<%= f.label :name, 'Name:',  :class =>"col-sm-2 control-label" %>
				  	<div class="col-sm-6">
				 		<%= f.text_field :name, :required => true, :value => @user.name , :class => "form-control" %>
				 	</div>
				</div>
		  	  <div class="form-group">
				  	<%= f.label :email, 'Email:',  :class =>"col-sm-2 control-label" %>
				  	<div class="col-sm-6">
				  		<%= f.text_field :email, :required => true, :value => @user.email , :class => "form-control" %>
				  	</div>
				</div>
			<% else %>

				<div class="form-group">
				  	<%= f.label :name, 'Name:',  :class =>"col-sm-2 control-label" %>
				  	<div class="col-sm-6">
				 		<%= f.text_field :name, :required => true, :class => "form-control", :required => "" %>
				 		<div class="help-block with-errors"></div>
				 	</div>
				</div>
				
				<div class="form-group">
				  	<%= f.label :email, 'Email:',  :class =>"col-sm-2 control-label" %>
				  	<div class="col-sm-6">
				  		<%= f.text_field :email, :required => true, :class => "form-control", :id => "inputEmail", :data => {:error => "Email is not valid"}, :required => "", :type=>"email"  %>
				  		<p class="help-block with-errors"></p>
				  	</div>
				</div>
			<% end %>

			<div class="form-group">
				<%= f.label :message, 'Message:',  :class =>"col-sm-2 control-label" %>
				<div class="col-sm-6">
					<%= f.text_field :message, :as => :text, :required => true, :class => "form-control", :rows => "3", :required => ""  %>
					<div class="help-block with-errors"></div>
				</div>
			</div>

		
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			  		<%= f.button :submit, 'Send message', :class=> "btn btn-primary " %>
			  	</div>
			</div>
			
		  <% end %>
			
        </div>
    <div class="col-md-5">
        <%= image_tag("/assets/phone.jpg", :alt => "phone", :class=>'featurette-image img-responsive center-block') %>
    </div>
</div>