<p id="notice"><%= notice %></p>

<h1>Listing Product Images</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_images.each do |product_image| %>
      <tr>
        <td><%= link_to 'Show', product_image %></td>
        <td><%= link_to 'Edit', edit_product_image_path(product_image) %></td>
        <td><%= link_to 'Destroy', product_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product image', new_product_image_path %>
