<p id="notice"><%= notice %></p>

<h1>Listing Product Videos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_videos.each do |product_video| %>
      <tr>
      	<td><%= link_to 'Show', product_video %></td>
      	<td><%= product_video.file_url %>
        </td>
        <td><%= link_to 'Edit', edit_product_video_path(product_video) %></td>
        <td><%= link_to 'Destroy', product_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product video', new_product_video_path %>
