
#all-content {
	width: 80em;
	margin-left: auto; 
	margin-right: auto;
	font-size: 0.8em;
	borders: 0.1em solid black;
} 

#title-box {
	padding-top: 0.3em;
	font-size: 1.15em;
	font-weight:bold;
	borders: 0.1em solid black;
}
#img-box {
	width: 7.5em;
	height: 9em;
	float: left;
	borders: 0.2em solid orange;
}

