#layout-top{
	height: 9em;
	borders: solid black 0.1em;  
}

#title-top{
	height: 10em;
	width: 300em;
	background-color: #00f;
	borders: solid black 0.1em; 
}


#title-top span{
	display: block;
	font-size: 3em;
	font-weight: bold;
	/* top right bottom left */
	padding: 0.5em 0em 0em 0.5em;
}	


#logo {
   position:absolute;
   top:0;
   left:-10px;
}