$primary-color: green;
$margin: 15px;
$colorblue: blue;

body { background:#262626; font-family:helvetica, ariel, sans-serif;}
header {margin:20px 0 0 $margin;}
p {margin:20px;}
h1 {color:$primary-color;}
h2 {color:$colorblue; margin:10px 10%;}
a {color:$colorblue;}

$background_color: #2c3e50;
$hover-color: #16a085;
$text-color: #ffffff;

nav{

	ul
	{
		background: $background-color;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li{
			display: inline-block;
		}
	a{
		color: $text-color;
		display: inline-block;
		padding: 10px 16px; 
		text-decoration:none;
	}
}