<div class="page-header m-t-1">
	<h1><small>Products</small></h1>
</div>

<div class="row featurette">	
		<ul class="list-inline" style="margin-bottom: 100px;">
			       
    <% @products.each do |product| %>

    	<div class=" col-xs-3" style="margin-right: 20px; margin-bottom: 50px; margin-left: 20px;">
		    <% if not product.images.blank? %>
				<%= link_to (image_tag product.images.first.url, :size => "150x150"), product %>
			<% else %>
				<%= link_to (image_tag("no-image.jpg", :size => "100x125")), product %>
			<% end %>
		
		                
			<div class="caption" style="padding-top: 20px;">
		    	<h4><%= product.name %></h4>
		    	<p><%= product.description %> </p>
				<p><%= number_to_currency(product.price, :unit => "£" ) %></p>
		    </div>
	    </div>
    <% end %>
    
    <div id ="pagination">
    	<%= paginate @products %>
    </div>

 </div>
