<div class="page-header m-t-1">
	<h1><small><%= @product.category.name %> / <%= @product.brand.name %> / <%= @product.name %> </small></h1>
</div>

<div class="container">
	<div class="productContatiner">
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<%= image_tag @product.images.first.url, :size => "300x350" %>
			</div>
			<div class="col-md-4">
					<h3><%= @product.name %></h3>
					<h4><%= @product.brand.name %></h4>					
					<p><%= @product.description %> </p>

					<h4><%= number_to_currency(@product.price, :unit => "£" )%></h4>
					<% if @product.stock >= 1 %>
						<p><small>Good News! This product is in stock!</small></p>

						<% if logged_in? %>
							<%= link_to "Add To Cart", login_path, :class => "btn btn-primary" %>

						<% else %>
							<p>Log in to add purchase this product</p>
							<%= link_to "Log In", login_path, :class => "btn btn-primary" %>
						<% end %>
					<% else %>
						<p><small>We're sorry. This product is out of stock.</small></p>
					<% end %>

			</div>
		</div>
	</div>
	<div class="accessoryContainer" style="margin-top: 50px;">

		<% if @product.associated_products.count > 0 %>

			<div>
				<h2><small>Recommended Accessories</small></h2>
			</div>

			<div class="row" style="padding-left: 130px;"> 
			<% @product.associated_products.each do |product| %>

				<div class="thumbnail col-xs-3" style="margin-right: 20px;">
				<%= link_to (image_tag product.images.first.url), product %>
					<div class="caption">
			        	<h3><small><%= product.name %></small></h3>
				        <p><small><%= product.description %> </small></p>
				        <p><small><%= number_to_currency(product.price, :unit => "£" ) %></small></p>
			     	</div>
			    </div>
			<% end %>	
			</div>
		<% end %>
	</div>
	<div class="reviewContainer" style="margin-top:50px; margin-bottom: 100px;">
			<div>
				<h2><small>Reviews</small></h2>
			</div>
		<div class="row" style="padding-left: 130px;">
			<%= button_to 'Add Review', { controller: 'reviews', action: 'new', id: @product.id },{class: "button-to btn btn-primary"} %>
      		<%= button_to 'See Reviews', { controller: 'reviews', action: 'displays', id: @product.id },{class: "button-to btn btn-default"} %>
      	</div>

     </div>
     <div class= "reviewContainer" style="margin-top:50px; margin-bottom: 100px;">
    	 <div>
				<h2><small>Social Media</small></h2>
			</div>
     	<div class="fb-comments" data-href="http://silver.mandelbrot.com.br" data-width="600" data-numposts="5" style="margin-left: 130px;"></div>
     </div>
</div>

	 

		
			
		


		
    	
    	
		
		
		
