<%= simple_form_for(@review) do |f| %>
  <%= f.error_notification %>

<div class="main-title">New Review for "<%= @review.product.title %>"</div>
   <%= f.hidden_field :product_id %>
    <%= f.hidden_field :user_id %> <br />
 
  <div class="form-inputs">
  </div>

  <div class="field">
    <%= f.label :review_text, "Please write your Review here :- " %><br />
    <%= f.text_area :review_text, :autofocus => true, :rows=> 12, :cols=> 40  %>
  </div>  
 

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
