
	<!-- app\views\_display_cart.html.erb  -->
	<%= link_to "Empty your basket" , current_cart, method: :delete,  confirm: 'Are you sure?' %>
	</br>
	Basket: <%= pluralize(current_cart.number_of_items, 'item') %> 
	<ul>
		<% current_cart.line_items.each do |item| %>
				<li> <%= item.product.title %> &times;  
						<%= item.quantity %> <%=  number_to_currency(item.total_price ,  :unit => "£") %></li>
		<% end %>
		
		<b><%= number_to_currency(current_cart.grand_total,  :unit => "£") %></b>
	</ul>
		   