
<!-- app\views\_display_cart.html.erb  -->

<div class="cart-title">Your Basket</div>
	cart = current_cart
	
	<table>
		<% for cart_item in  cart %>
			<tr>
				<td><%= cart_item.quantity%>&times;</td>
				<td><%= cart_item.title %></td>
				<td class="item-price"><%= number_to_currency(cart_item.price, :unit => "&pound;") %></td>
			</tr>
		<% end %>

		<tr class="total-line">
			<td colspan="2">Total</td>
			<td class="total-cell"><%#= number_to_currency(cart.total_price, :unit => "&pound;") %></td>
		</tr>
	</table>
		
	<%= button_to "Empty cart" , :action => :empty_cart %>
	<%= button_to "Continue Shopping" , :action => :index %>