<%= form_tag my_path, :class => "navbar-form navbar-left" do %>
	<div class="form-group">
   		<%= text_field_tag :name, nil, :class => "form-control" %>
    </div>
    <div class="form-group">
    	<%= submit_tag 'Search', class: "btn btn-default" %>
    </div>
<% end %>