<footer class="footer">
	<div class="container">
		<ul class="nav navbar-nav text-muted">
	      	<li class="nav"> <%= link_to "About us", about_path %> </li>				
			<li class="nav"> <%= link_to "Contact Us", contact_path %> </li>
			<li class="nav"><p> <%= the_date %> </p> </li>
	    </ul>
	</div>
</footer>