<nav class="navbar navbar-default">
	<div class="container">   
		<ul class="nav navbar-nav navbar-left">
			<li class="nav"> <%= link_to "Home", root_path %></li>	
			<li><div><%= render(:partial=>'/search',:locals=> { :my_path => "/products/search" })%></div></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<% if not logged_in? %>			
				<li> <%= link_to "Log In", login_path %> </li>				
				<li> <%= link_to "Register", new_user_path %> </li>	
			<% else %>
				<li> <%= link_to @user.email, user_path(@user) %> </li>
				<li> <%= link_to "Logout", logout_path %> </li>
			<% end %>
		</ul>
  	
  	</div>
</nav>

		<!--
				<div id="cart-top" >
					
					<% if session[:cart_id] %>
					<div id="cart_active" >
						<%= render(:partial => '/display_cart' ) %>
					</div>	
					<% end %>
				</div>
		-->	